
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <link rel="icon" href="assets/img/favicon2.png" type="image/gif" sizes="16x16">
  <meta name="google-site-verification" content="3cITVPefT6brenajjZSzmliHWWBZPJK3zELuh3nf2f4" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Viraj,Mane,Viraj Mane,Portfolio,Blogs,Resume">
  <meta name="description" content="Hey, I'am Viraj Mane. Welcome to my Portfolio. Read about me and my blogs here">
  <meta name="author" content="Viraj Mane">
  <title>Viraj Mane</title>
  <link rel="stylesheet" href="assets/css/color.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Inconsolata" rel="stylesheet">
  <link href="../../cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>

<!--Header-->
  <header class="main-header" style="background-image: url(assets/img/img_bg_header.jpg)">
    <div class="container">
      <div class="row personal-profile">

        <div class="col-md-8">
          <p class="personal-profile__name">Movie Analytics</p>
        </div>
      </div>
    </div>
<!--Header-->


    <div id="contact" class="container section">
      <div class="row">
      </div>
      <div class="row contacts">
        <div class="col-md-8">
          <div class="contacts__social">
            <ul>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contacts__form" method ="post">
            <form class="js-form" method="post">
              <div class="form-group">
                <input class="form-field js-field-name" type="text" placeholder="Enter a movie name..." name="query" required>
                <span class="form-validation"></span>
                <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
              </div>
              <button class="site-btn site-btn--form" type="submit" value="Send">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>


  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/menu.js"></script>
  <script src="assets/js/jquery.waypoints.js"></script>
  <script src="assets/js/progress-list.js"></script>
  <script src="assets/js/section.js"></script>
  <script src="assets/js/portfolio-filter.js"></script>
  <script src="assets/js/slider-carousel.js"></script>
  <script src="assets/js/mbclicker.min.js"></script>
  <script src="assets/js/site-btn.js"></script>


</body>
</html>